.descriptionbox {
  margin: 60px 128px;
}
.descriptionbox-navigator {
  display: flex;
}
.descriptionbox-nav-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 50px;
  font-size: 13px;
  font-weight: 600;
  border: 1px solid #d0d0d0;
}

.descriptionbox-nav-box.fade {
  background: #fbfbfb;
  color: #555;
}

.descriptionbox-description {
  display: flex;
  flex-direction: column;
  gap: 15px;
  border: 1px solid #d0d0d0;
  padding: 30px;
  padding-bottom: 50px;
  width: 90%;
}

@media (max-width: 1280px) {
  .descriptionbox {
    margin: 60px;
  }
}
@media (max-width: 800px) {
  .descriptionbox {
    margin: 60px 20px;
  }
  .descriptionbox-description {
    font-size: 14px;
  }
}
